@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Genshin';
  src: local('genshin'), url('../../assets/genshin.ttf') format('truetype');
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center w-12 h-12 my-1 mx-auto bg-background-secondary p-1 rounded-md;
  }
  .tooltip {
    @apply invisible absolute;
  }
  .has-tooltip:hover .tooltip {
    @apply visible z-50 whitespace-nowrap overflow-x-visible;
  }
}

:root {
  --fallback-title-bar-height: 40px;
  background-color: black;
}

.app-titlebar,
.app-favicon,
.app-title {
  -webkit-app-region: drag;
}

.app-titlebar {
  left: env(titlebar-area-x, 0);
  top: env(titlebar-area-y, 0);
  width: env(titlebar-area-width, 100%);
  height: env(titlebar-area-height, var(--fallback-title-bar-height));
}

.app-titlebuttons {
  -webkit-app-region: no-drag;
}
