@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Genshin';
  src: local('genshin'), url('../../assets/genshin.ttf') format('truetype');
}

@layer components {
  .sidebar {
    @apply no-scrollbar select-none flex flex-1 flex-col overflow-y-auto overflow-x-visible fixed top-[var(--fallback-title-bar-height)] left-0 h-[calc(100vh-var(--fallback-title-bar-height))] w-sidebar-full m-0 z-10 pb-2 text-white;
  }
  .mini-sidebar {
    @apply w-sidebar-mini;
  }
  .sidebar-icon {
    @apply relative flex items-center justify-center
      w-12 h-12 my-2 mx-auto shadow-lg
    bg-item p-1 rounded-3xl hover:rounded-xl
      transition-all ease-linear cursor-pointer;
  }
  .tooltip {
    /* @apply absolute scale-0 transition-all opacity-0 overflow-x-clip origin-left w-min whitespace-nowrap shadow-lg; */
    @apply absolute w-auto p-2 px-4 m-2 min-w-max left-14 rounded-md shadow-md text-white whitespace-nowrap transition-all duration-100 opacity-0 pointer-events-none;
  }
  /* .has-tooltip:hover .tooltip {
    @apply z-50 absolute scale-100 transition-all opacity-100 ease-linear px-4 py-2 origin-left;
  } */
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  --fallback-title-bar-height: 30px;
  background-color: black;

  --full-sidebar-width: 300px;
  --mini-sidebar-width: 16;
}

.app-titlebar,
.app-favicon,
.app-title {
  -webkit-app-region: drag;
}

.app-titlebar {
  left: env(titlebar-area-x, 0);
  top: env(titlebar-area-y, 0);
  width: env(titlebar-area-width, 100%);
  height: env(titlebar-area-height, var(--fallback-title-bar-height));
}

.app-titlebuttons {
  -webkit-app-region: no-drag;
}

img,
.sidebar-icon {
  -webkit-user-drag: none;
}
